.SignIn {
  margin: 20% auto;
  border-color: black;
  border-style: solid;
  width: 300px;
}

.EnterHouseName {
  text-align: center;
  font-size: 50px
}

.inputField {
  text-align: center;
  margin-bottom: 10px;
}
